html {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.section {
  padding-top: 200px;
  padding-bottom: 200px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --primary-text-color: rgba(33, 33, 33, 1);
  --secondary-text-color: rgba(117, 117, 117, 1);
  --accent-color: rgba(33, 150, 243, 1);
}

body {
  font-family: Roboto, sans-serif;
  color: var(--primary-text-color);
}

header {
  border-bottom: 1px solid #ececec;
}

.page-header .container {
  display: flex;
}

.logo {
  padding-top: 24px;
  padding-bottom: 25px;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  text-decoration: none;
  margin-right: 93px;
}

.nav-logo-color {
  color: rgba(0, 0, 0, 1);
}

.footer-logo-color {
  color: rgba(255, 255, 255, 1);
}

.navigation {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.nav-list {
  display: flex;
  gap: 50px;
  list-style: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

.contact-links {
  display: flex;
  margin-left: auto;
  align-items: center;
  gap: 50px;
}

.nav-link {
  position: relative;
  display: block;
  padding: 32px 0;
  text-decoration: none;
  color: var(--primary-text-color);
  text-decoration: none;
}

.nav-link.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:nth-child(3) {
  margin-right: 50px;
}

.nav-link:hover,
.nav-link:focus {
  color: rgba(33, 150, 243, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:active {
  color: rgba(33, 150, 243, 1);
}

.adress-header {
  text-decoration: none;
  color: rgba(117, 117, 117, 1);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.adress-header:hover,
.adress-header:focus {
  color: rgba(33, 150, 243, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-btn {
  border: none;
  cursor: pointer;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  background-color: #f5f4fa;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  color: #212121;
  padding: 6px 22px;
}

.portfolio-btns {
  display: flex;
  gap: 8px;
  justify-content: center;
  list-style: none;
  font-style: normal;
  margin-bottom: 50px;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  color: white;
  background-color: rgba(33, 150, 243, 1);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/bgimg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  padding: 0;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
  color: rgba(255, 255, 255, 1);
}

.hero-btn {
  display: block;
  margin: 0 auto;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 216px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  font-family: inherit;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: none;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(33, 150, 243, 1);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.details {
  padding-top: 94px;
  padding-bottom: 94px;
}

.details-list {
  display: flex;
  justify-content: center;
  gap: 30px;
  list-style: none;
}

.details-title {
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: start;
}

.details-description {
  width: 270px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  font-style: normal;
  margin: 0;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.activity {
  padding-top: 0;
  padding-bottom: 94px;
}

img {
  display: block;
}

.activity-list {
  display: flex;
  justify-content: center;
  gap: 30px;
  list-style: none;
}
.activity-item {
  position: relative;
}
.subtitle {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: rgb(47, 48, 58, 0.8);
  width: 100%;
  padding: 27px 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 0;
  color: #ffffff;
}

.products-list-title {
  text-align: left;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.products-list-description {
  color: var(--secondary-text-color);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  margin: 0;
}

.products-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  list-style: none;
}

.product-link {
  text-decoration: none;
  color: #212121;
}
.product-item {
  flex-basis: calc((100% - 2 * 30px) / 3);
  background: #ffffff;
}

.product-item:hover,
.product-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.product-item:hover .product-description {
  transform: translateY(0);
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.product-thumb {
  position: relative;
  overflow: hidden;
}

/* .product-thumb::before {
  display: inline-block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 1;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

.product-description {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  text-align: left;
  padding: 63px 24px;
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: #ffffff;
  /* opacity: 1; */
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.products-list:hover .product-thumb::before {
  transform: translateY(0);
  opacity: 1;
}

.item {
  color: #757575;
}

.item:hover,
.item:focus {
  color: #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.products-group {
  padding: 20px 24px;
  background: #ffffff;
  border: 1px solid #eeeeee;
}

.activity-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.team.section {
  background-color: #f5f4fa;
  padding-bottom: 94px;
  padding-top: 94px;
}
.team-members {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
.team-main-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.team-title {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.team-description {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  text-align: center;
  margin: 0;
  margin-bottom: 16px;
}

.cards {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  text-decoration: none;
  background-color: rgba(47, 48, 58, 1);
}

.adress {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  gap: 9px;
}

.footer-logotyp {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  text-decoration: none;
}

.footer-address {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

.information:hover,
.information:focus {
  color: rgba(33, 150, 243, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-info {
  font-style: normal;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

.footer-logotyp-color {
  color: #ffffff;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.living-adress {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.portfolio.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.nav-link.active {
  color: #2196f3;
}

.contact-icon {
  fill: currentColor;
  margin-right: 10px;
}

.contact-icon:hover,
.contact-icon:focus {
  stroke: #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.details-icons {
  margin-left: 100px;
  margin-top: 25px;
}
.team-details-icon {
  fill: #afb1b8;
  stroke: #afb1b8;
}

.team-details-icon:hover,
.team-details-icon:focus {
  fill: #ffffff;
  stroke: #ffffff;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.circle-icon-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.circle-icon-item {
  width: 44px;
  height: 44px;
}

.circle-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
}

.team-details-icon:hover,
.team-details-icon:focus {
  fill: #ffffff;
}

.circle-icon-link:hover .team-details-icon,
.circle-icon-link:focus .team-details-icon {
  background-color: #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #ffffff;
}

.circle-icon-link:hover,
.circle-icon-link:focus {
  background-color: #2196f3;
  border-radius: 50%;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.details-list-icons {
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.client.section {
  padding-top: 128px;
  padding-bottom: 114px;
}

.client-list {
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
}

.client-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}

.client-icons:hover,
.client-icons:focus {
  border-color: #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-icons:hover .client-details-icon,
.client-icons:focus .client-details-icon {
  fill: #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-details-icon:hover,
.client-details-icon:focus {
  fill: #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.client-main-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.client-details-icon {
  fill: #afb1b8;
}

.social-links-title {
  text-align: left;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.social-links {
  display: inline-block;
  width: 218px;
  height: 80px;
}

.social-link-svg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.social-link-svg:hover,
.social-link-svg:focus {
  background-color: #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links-icon-svg {
  fill: #ffffff;
}

.social-links-icon {
  height: 44px;
  width: 44px;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 0;
  margin: 0 auto;
}

.items-social-links-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* .social-links-icon:not(:last-child) {
  margin-right: 10px;
} */

/* .social-links-icon:nth-child(1) {
  background-image: url(../images/instagram.png);
}
.social-links-icon:nth-child(2) {
  background-image: url(../images/twitter.png);
}
.social-links-icon:nth-child(3) {
  background-image: url(../images/facebook.png);
}
.social-links-icon:nth-child(4) {
  background-image: url(../images/linkedin.png);
}

.social-links-icon:hover,
.social-links-icon:focus {
  background-color: #2196f3;
  border-radius: 50%;
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

.footer-icons {
  display: flex;
  gap: 70px;
  align-items: baseline;
}

.backdrop {
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .backdrop-modal {
  transform: translate(-50%, -50%) scale(1);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.backdrop-modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  max-width: 528px;
  width: 100%;
  height: 100%;
  max-height: 581px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.close-modal {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.modal-icon:hover,
.modal-icon:focus {
  fill: #2196f3;
  cursor: pointer;
}

.social-form-title {
  text-align: left;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.submit-footer-btn {
  display: inline-block;
  text-align: center;
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
}

.submit-footer-btn {
  fill: #ffffff;
}

.footer-label {
}

.email {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  margin-right: 12px;
}

.footer-div {
  margin-left: 30px;
}

.modal-form {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  margin-right: 40px;
}

.modal-title {
  display: block;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-top: 40px;
  padding-bottom: 20px;
}

textarea {
  resize: none;
}

.modal-label {
  display: block;
  position: relative;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-input {
  margin-bottom: 10px;
  margin-top: 4px;
  height: 40px;
  width: 448px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
}

.modal-input:hover,
.modal-input:focus {
  border-color: #2196f3;
  outline: none;
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:hover + .form-icon,
.modal-input:focus + .form-icon {
  fill: #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea-field {
  margin-bottom: 20px;
  margin-top: 4px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
}

.textarea-field:hover,
.textarea-field:focus {
  cursor: pointer;
  border-color: #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-label {
  position: relative;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
}

.agreement {
  color: #2196f3;
}

.input {
  position: relative;
}

.form-icon {
  position: absolute;
  top: 45%;
  left: 12px;
}

.modal-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

.modal-checkbox:hover,
.modal-checkbox:focus {
  border-color: #2196f3;
  outline: transparent;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox:hover + .form-icon,
.modal-checkbox:focus + .form-icon {
  border-color: #2196f3;
  outline: transparent;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-checkbox {
  display: inline-flex;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox:checked + .icon-checkbox {
  background-color: #2196f3;
  background-size: contain;
  border-color: #2196f3;
  background-origin: border-box;
  fill: #ffffff;
}

.agreement-icon {
  fill: #ffffff;
}

.modal-registration-btn {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(50%);
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #ffffff;
  margin-top: 30px;
  cursor: pointer;
}

.modal-btn-div {
  position: relative;
  width: 164px;
}
